DB_URL=jdbc:mysql://localhost:3306/mydb
DB_USERNAME=root
DB_PASSWORD=secret_pass

GOOGLE_PROJECT_ID=smartcampus-b0876
GOOGLE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@smartcampus-b0876.iam.gserviceaccount.com
# Keep the \n characters exactly as they appear in the JSON
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCrLnilBrwNjKld\n...YOUR_KEY_CONTENT... \n-----END PRIVATE KEY-----\n"